<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SMirkY Admin Portal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="@roleAdmin">
            <div class="nav-item px-3">
                <a class="nav-link" href="/category">
                    <span class="oi oi-file" aria-hidden="true"></span>Categories
                </a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="/product">
                    <span class="oi oi-box" aria-hidden="true"></span>Products
                </a>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/orderlist">
                    <span class="oi oi-credit-card" aria-hidden="true"></span> Orders
                </NavLink>
            </div>
        </AuthorizeView>
       
    </nav>
</div>

@code {
    private string roleAdmin = Tangy_Common.SD.Role_Admin;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

